@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.navbar > nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar > nav > a{
  margin-left: 20px;
  padding-top: 15px;
}
.navbar > nav > ul{
  display: flex;
  flex-direction: row;
  list-style-type:none;
}
nav > ul > li{
  margin-right: 30px;
}
.pages{
  width: 100%;
  margin: 0;
  padding: 0;
}
.library{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.searchbar-container{
  width: 30%;
  height: 90vh;
  border: solid blue 1px;
}
.slip-cell-container{
  width: 70%;
}
.soundslip-cell{
}
